@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }

body {
    font-family: 'Shadows Into Light', cursive;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 35px 0px 35px 0px;
    position: 0;
    background-color: #f2b263
}

img {
    height: 200px;
}

img:hover {
    transform:scale(1.1)
}

nav {
    padding: 16px;
    border: 1px solid black;
    background-color: #8cbeb2
}

a:hover {
    background-color: thistle;
}

a {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #F2EBBF
}

h1 {
    color: #F06060
}

header {
    text-shadow: #f2c6c2;
}

th {
    background-color: #f2b263
}
